@import './handle';

$logocolor: #ea5906;

//定义全局主题&颜色的map数组
//data-theme为dark时，样式引用dark
//data-theme为其他值时，自然就采用了elementui的默认样式
$themes: (
  light: (
    background_color: #f4f6f8,
    background_color-2: #fff,
    font_color: #666,
    font_color-2: #666,
    border_color: #43435d 1px solid,
  ),
  dark: (
    background_color: #2a2b3d,
    background_color-2: #43435d,
    font_color: #fff,
    font_color-2: #c0c4cc,
    border_color: #43435d 1px solid,
  ),
);
